@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

*{margin:0px;
padding:0px;}



:root {
    --font01: verdana, Geneva, Tahoma, sans-serif;
    --font02: "Passion One", sans-serif;
    --font03:"Sriracha", cursive;
}










body {
    min-height:100vh;
    background-color: darkgray;
    font-family:var(--font01)
}


header {
    background-color:black;
    color:white;
    text-align:center;
    
    
}

header h1{
    padding-top:50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 10vh;

}

h1:hover {
    transform: translateX(3px);
    transition-duration: 0.4s
}

header p{
    padding:10px;
}

 a {
    color:white;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    
}

section {
    padding-top:10vh;
    padding-bottom:10vh;
    line-height: 2em;
    padding-left: 3vh;
    font-family: var(--font03);
    font-size:3.5vh;
}
section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color:white;
    color:black;
}




section.imagem > p {
    width:400px;
    background-color:rgba(0, 0, 0, 0.425);
    text-shadow: 0px 4px 3px  rgba(0, 0, 0, 0.486);
    color:White;
}


section.imagem {
    background-color:gray;
    color:black;
    box-shadow: inset 4px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

section#img01{
background-image:url(imagens/background001.jpg);
background-attachment: fixed;
background-position: right center;
background-size: cover;

}

section#img02 {
    background-image:url(imagens/background002.jpg);
    background-attachment: fixed;

}



footer {
    color:white;
    background-color:black;
    text-align:center;
    padding:10px;
}