@charset "UTF-8";


@media screen and (min-width: 768px){
    span#burguer {
        display:none;
    }

    menu.itens {
        display:block

    }

    main {
        background-color: cadetblue;
        box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.363);
        width: 768px;
    }

    main > article > h1 {
        color:rgb(0, 70, 199)
        
    }

    article {
        

        border-radius:5px;
        color:rgb(122, 255, 211)
    }
}