@charset "UTF-8";
body { 
background-color:cornflowerblue;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
}
h1 {
color:blueviolet;

/* isso e um comentario no css */
}
h2 {
color:blue

}
p {text-align: justify;
color:blue

}