@charset "UTF-8";

        *{
           margin:0px;
           padding:0px;
           font-family:Arial, Helvetica, sans-serif
        }

        ::-webkit-scrollbar {
            width:0px;
            height:0px;
        }

        img {
            width:100vw;
        }

        a {
            display:block;
            font-weight: bolder;
            text-align:center;
            background-color: darkred;
            color:white;
            height:40px;
        }

        a:hover{
            color:yellow;
            transform:translate(3px, 4px);
            transition-duration:0.5s;
        }
