@charset "UTF-8";

#tela {display: flex; justify-content:center; align-items:center; height:100vh;

}
body {background-color: black; font-family:Arial, Helvetica, sans-serif;}

#imagem { display:grid; grid-template-columns: repeat (2, 1fr); gap: 10px;
    
    
display: flex;
justify-content: center; 
align-items: center;
height: 100vh;}

#imagem img {width:200px; height: 120px; object-fit: cover;}