@charset "UTF-8";

/* arquivo de css para landscape (largura maior que altura) */




html, body {
    height: 100vh;
    width: 100vw;
    background-color:white;
    background-image: url(../Imagens/cev-landscape.jpg);
    background-size: cover;
    background-position:center;
}

